* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

header {
  margin: 1em auto;
  border: 2px solid #ccc;
  padding: 1em;
  background-color: blueviolet;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
}

main ul {
  margin: 1em auto;
  border: 2px solid #ccc;
  align-items: center;
}

footer {
  margin: 1em auto;
  border: 2px solid #ccc;
  background-color: blueviolet;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
