/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	nav {
        width: 100%;
    }

    .headings {
        margin-left: -100px;
        font-size: 13px;
    }

    /* Styling Main */

    main {
        display: grid;
        grid-template-rows: repeat(5, 300px);
        grid-template-columns: 1fr 1fr 1fr;
    }

    .banner {
        grid-column: 1/4;
        grid-row: 1;
        padding: 2rem;
    }

    .banner img {
        width: 100%;
        /*max-width: 100%;*/
    }

    .banner button {
    display: block;
    background-color: #97D17E;
    border-radius: 25px;
    width: 50%;
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    height: 50px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #97D17E;
    font-size: 16px;
    cursor: pointer;
    }

    .news {
        grid-column: 1;
        grid-row: 2;
        padding: 2rem;
    }

    .spotlight {
        flex-direction: row;
        grid-column: 2;
        grid-row: 2;
        min-height: 180px;
    }

    .spotlight div {
        height: 90%;
        width: 50%;
        margin: 10px;
    }

    .join {
        display: inline;
        grid-row: 3;
        grid-column: 3;
        margin-top: 10px;
        padding: 2rem;
    }

    .join button {
        display: block;
        background-color: #97D17E;
        border-radius: 20px;
        width: 95%;
        margin-left: 15px;
        margin-top: 11px;
        border: 1px solid rgba(0,0,0,0.3);
        cursor: pointer;
    }

    .join button:hover {
        background-color: #72BDFF;
    }

    .aids {
        grid-column: 4;
        grid-row: 3;
        margin-right: 10px;
    }

    .weather {
        grid-column: 1;
        grid-row: 3;
    }

    /* Styling Footer */

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    footer picture img {
        grid-column: 1;
    }

    .down {
        grid-column: 2;
        margin-left: -70px;
    }

    .down h2, p {
        text-align: left;
        align-self: center;
        padding: 0;
    }

    .contact {
        grid-column: 3;
        border: none;
    }

    footer .last {
        display: block;
        grid-column: 1/4;
        margin-top: 10px;
        border-top: 1px solid rgba(0,0,0,0.3)
    }
    
    /*.small-copyright {display: none}
    .medium-copyright {
        display: block;
       
    }*//

	
}