

/*......*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    align-items: center;
  }
  
  header,
  main,
  footer {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    ;
  }
  
  header {
    margin: 1em auto;
    border: 2px solid #ccc;
    padding: 1em;
    background-color:#c94277;
    display: grid;
    grid-template-columns: 300px 1fr auto;
    grid-template-rows: auto;
    align-items: center;
  }
  header nav ul{grid-column: 2/3;

  }
 
  main {
    margin: 1em auto;
    border: 2px solid #ccc;
    align-items: center;
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  main section  :nth-child(1){
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: beige;
  }

  footer {
    margin: 1em auto;
    border: 2px solid #ccc;
    background-color: #c94277;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 1em;
  }
  